*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
Debug_2012
Release_2012
Debug_2013
Release_2013
Debug_2015
Release_2015
x64
Bin
/wiki