# This is a windows-only project. Force CRLF.
* text eol=crlf

# Explicit settings for specific file types.
*.h         eol=crlf
*.txt       eol=crlf
*.md        eol=crlf
*.pdf       binary
*.png       binary
*.dll       binary
*.lib       binary
