#include <windows.h>

#include "..\ExporterGlobals.h"

#define VER_FILETYPE            VFT_APP
#define VER_FILESUBTYPE         VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR CONTENT_EXPORTER_GLOBAL_TITLE " for FBX"
#define VER_INTERNALNAME_STR    "ContentExporter.exe"
#define VER_FILEVERSION CONTENT_EXPORTER_MAJOR_VERSION,CONTENT_EXPORTER_MINOR_VERSION,0,CONTENT_EXPORTER_REVISION

#define VER_PRODUCTVERSION VER_FILEVERSION

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      VS_FF_PRIVATEBUILD
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VER_FILETYPE
FILESUBTYPE    VER_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"   /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
        BEGIN
            VALUE "CompanyName",     CONTENT_EXPORTER_VENDOR
            VALUE "FileDescription", VER_FILEDESCRIPTION_STR 
            VALUE "FileVersion",     CONTENT_EXPORTER_VERSION
            VALUE "InternalName",    VER_FILEDESCRIPTION_STR
            VALUE "LegalCopyright",  CONTENT_EXPORTER_COPYRIGHT
            VALUE "OriginalFilename",VER_INTERNALNAME_STR
            VALUE "ProductName",     VER_FILEDESCRIPTION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END


